@font-face {
    font-family: "Montserrat-Bold";
    src: url(./fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(./fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(./fonts/Montserrat-SemiBold.ttf) format("truetype");
}

body{
    background-color: #DDD6CC;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.image img{
    width: 400px;
}

::placeholder{
    font-family: "Montserrat-Light";
}

.main{
    display: flex;
    justify-content: center;
}

.main h1{
    font-family: "Montserrat-Bold";
    font-size: 36px;
}

.loginblock{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0 auto;
    height: 420px;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

#loginInput{
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 300px;
    margin: 15px 0;
}

#passwordInput{
    height: 50px;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 300px;
}

input{
    background-color: #F3EDDF;
    box-sizing: border-box;
    padding: 0 10px;
}

#btn{
    width: 150px;
    height: 44px;
    border-radius: 20px;
    background-color: #AD9B87;
    outline: none;
    border: 0;
    font-family: "Montserrat-SemiBold";
    color: white;
    margin: 15px 0;
    cursor: pointer;
}
.reg_text{
    font-family: 'Montserrat-Light';
    margin-top: 10px;
}
.reg_link{
    font-family: 'Montserrat-SemiBold';
    color: black;
    margin-top: 10px;
}